:root{
    --primary-color:#000002;
    --secondary-color: #333333;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    height: 100%;
}


/* setting font */
h1{
    color: #fff;
    font-weight: 700;
    font-size: 28px;
}
h2{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}
h3{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
h4{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
p{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

a{
    text-decoration:none
}


/* Navbar style */
.navbar{
    background-color: var(--primary-color);
}
.navbar-brand{
    font-weight: 700;
    font-size: 22px;
}

.nav-link{
    font-size: 13px;
}

.nav-link.active{
    font-weight: 700;
}


.d-flex .btn{
	font-size: 12px;
	background-color: var(--primary-color);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	padding: 13px 20px;
}
.d-flex .btn:hover{
	background-color: #202020;
	color: #fff;
	transition: 0.5;
}
/* 
ul.timeline-3 {
    list-style-type: none;
    position: relative;
  }
  ul.timeline-3:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline-3 > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline-3 > li:before {
    content: " ";
    background: var(--primary-color);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  } */
/* Hero section */

#banner{
    padding-top: 3rem;
    width: 100%;
}

#tentang{
    padding-top: 6rem;
    background: var(--primary-color);
    font-size: 14px;
    width: 100%;
    margin-right: auto;
    padding-bottom: 3.5rem;
    
}


#tentang .img-skill img:hover{
	filter: saturate(200%) drop-shadow(10px 10px 10px #3a3a3a);

}
#tentang .img-tentang{
    width: auto;
    height: auto;
}

#projectku .img-project{
    filter: brightness(50%);
}

#sertif{
    padding-top: 40px;
}

.img-sertif{
    overflow: hidden;
    
}

.img-sertif img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
    
}

.img-sertif img:hover {
    transform: scale(1.12);
  }



#resume{
    padding-top: 3rem;

    
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #9d34ff;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 12px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
  color: #fff;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #9d34ff;
  border: 2px solid #9d34ff;
}

#kontak{
    background: var(--primary-color);
	padding: 6rem 0;
	background-size: cover;
}


#kontak form input{
	color: #fff;
}

.img-kontak{
    position: relative;
	margin-top: -1.5rem;
    margin: auto;
}

.card-kontak{

    padding: 20px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
}

.card-kontak p{
    color: #fff;
    font-size: 16px;
}


.card{
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
 overflow:hidden;
 border-radius:20px;
 min-height:450px;
   box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

 @media (max-width: 768px) {
  min-height:350px;
}

@media (max-width: 420px) {
  min-height:300px;
}

 &.card-has-bg{
 transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size:120%;
  background-repeat:no-repeat;
  background-position: center center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    /* -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); */
}

  &:hover {
    transform: scale(0.98);
     box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
    background-size:130%;
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      background: rgb(206, 206, 206);
     background: linear-gradient(0deg, rgba(206, 206, 206) 0%, rgba(206, 206, 206) 100%);
     }
  }
}
 .card-footer{
  background: none;
   border-top: none;
    .media{
     img{
       border:solid 3px rgba(255,255,255,0.3);
     }
   }
 }
  .card-title{font-weight:800}
 .card-meta{color:rgba(0,0,0,0.3);
  text-transform:uppercase;
   font-weight:500;
   letter-spacing:2px;}
 .card-body{ 
   transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
 

  }
 &:hover {
   .card-body{
     margin-top:30px;
     transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
   }
 cursor: pointer;
 transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
 /* background: rgb(46, 46, 46);
background: linear-gradient(0deg, rgba(214, 214, 214, 0.379) 0%, rgb(187, 187, 187) 100%); */
}
}
@media (max-width: 767px){
  
}


/* footer */